@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: 0;
}

body {
  background: transparent;
  background-attachment: fixed;
  height: 100vh;
  padding: 3rem 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.container {
  width: 90%;
  margin: auto;
}

.mobile-wrapper {
  background: #535353;
  /* relative with .today-box::before*/
  z-index: 1;
  /*positive*/
  position: relative;
  /*---------*/
  width: 380px;
  min-height: 100%;
  margin: auto;
  padding: 10px 0 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px -10px #000;
  overflow: hidden;
}

.header {
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.header .container {
  position: relative;
}
.header .container span {
  color: #c5c5c5;
  font-family: "Ramabhadra";
  font-size: 21px;
  font-weight: 700;
}
.header .container h1 {
  margin-top: 5px;
  color: #ffffffec;
  font-size: 13px;
  font-weight: 300;
}
.header .container::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #e8e8e8;
  position: absolute;
  bottom: -13px;
  right: 0px;
}
.header .container::after {
  content: "";
  display: block;
  width: calc(100% - 10px);
  height: 2px;
  background-color: #e8e8e8;
  position: relative;
  top: 8px;
}

.today-box {
  background: linear-gradient(to left, #48ed71, rgb(15, 107, 64)), #485fed;
  color: #FFF;
  padding: 37px 40px;
  position: relative;
  box-shadow: 0px 0px 40px -9px #48ed71;
  margin-bottom: 50px;
}
.today-box::before {
  content: "";
  background: linear-gradient(to left, #48ed71, rgb(15, 107, 64)), #485fed;
  opacity: 0.4;
  z-index: -1;
  display: block;
  width: 100%;
  height: 40px;
  margin: auto;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 50%;
  box-shadow: 0px 0px 40px 0 #48ed71;
}
.today-box .breadcrumb {
  font-weight: 300;
  position: absolute;
}

.today-box .date-title {
  display:inline-block;
  font-size: 20px;
  margin: 7px 0 0 0;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.upcoming-events .container h3 {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 30px;
  position: relative;
}
.upcoming-events .container h3::before {
  content: "";
  display: block;
  width: 75%;
  height: 2px;
  background-color: #e8e8e8;
  position: absolute;
  top: 60%;
  transform: translatey(-60%);
  right: 0;
}

.upcoming-events .container .events-wrapper {
  margin-bottom: 30px;
}
.upcoming-events .container .events-wrapper .event {
  position: relative;
  margin-bottom: 25px;
  padding-left: 30px;
  cursor: pointer;
  border-radius: 5px;
  background: #e0e0e0;
  border: 2px solid #48ed717a;
}
.upcoming-events .container .events-wrapper .event i {
  font-size: 24px;
  font-weight: 100;
  position: absolute;
  left: 0;
  top: -4px;
}
.upcoming-events .container .events-wrapper .event .event__point {
  margin: 0;
  color: #555;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
}
.upcoming-events .container .events-wrapper .event .event__duration {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #999;
  font-size: 10px;
  font-weight: 800;
  font-style: italic;
}
.upcoming-events .container .events-wrapper .event .event__description {
  margin-top: 10px;
  color: #919294;
  font-size: 13px;
  font-weight: 300;
}
.upcoming-events .container .events-wrapper .event.active {
  background: linear-gradient(45deg,#09db79, #12f743);
  padding: 17px 0 5px 60px;
  margin-bottom: 38px;
  border-radius: 5px;
}
.upcoming-events .container .events-wrapper .event.active::after {
  content: "";
  display: block;
  width: 90%;
  height: 10px;
  background: #48ed7156;
  border: 2px solid #48ed717a;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translatex(-50%);
}
.upcoming-events .container .events-wrapper .event.active i {
  position: absolute;
  left: 25px;
  top: 17px;
}

.upcoming-events .container .events-wrapper .event.active .event__description::before {
  right: 45px;
  font-size: 22px;
  transition: all 550ms ease;
  transition-timing-function: cubic-bezier(0.05, 1.8, 1, 1.57);
}
.upcoming-events .container .events-wrapper .event.active:hover .event__description::before {
  transform: translate(15px, -12px);
}
.weather{
   position: absolute;
   bottom: 30px;
   height: 100px;
   width: 90px;
   display:inline-block;padding-left: 40px;
   background: linear-gradient(45deg,#1bad69, #00a846);
   border-radius: 10px;
   margin-left: 20px;
   box-shadow: 0px 10px 50px -10px #203157;
   vertical-align:middle
}
.weather img {
  position:absolute;
  right: 13%;
  bottom: 20px;
  border-radius: 10px;
}
.weather p {
  position:absolute;
  padding-top: 50px;
  right: 20px;
}#time {
  position:absolute;
  top: 16px;
  left: 5px;  
  text-wrap:nowrap;
}#date{
  padding-top: 50px;
}
